body {
  background-image: url("/img/Mister_Rogers_Trolley.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  color: white;
}

#results {
  display: none;
}